/* @import './reset.css'; */
@import 'normalize.css';
@import 'tailwindcss';

/* @layer base {
	:root {
		--radius: 0.5rem;
	}
} */

html {
	font-family: 'Roboto', serif;
	font-weight: 400;
	font-style: normal;
}

.container {
	max-width: 1920px;
	margin: 15px auto;
	padding: 0 15px;
}

.form-input {
	width: 100%;
	padding: 0 15px;
	background-color: rgb(255, 255, 255);
	color: rgb(105, 108, 105);
	border: 1px solid #b9b9b9;
	box-shadow: 1px 1px 5px 0px;
}

.new-bonds-wrapper {
	border-radius: 5px;
	box-shadow: 1px 1px 5px 0px;
	overflow: hidden;
}

.title {
	border-bottom: 1px solid hsla(0, 0%, 74%, 0.491);
}

/* .mb-not-last:not(:last-child) {
	margin-bottom: 10px;
} */
